/* File for footer style */

/* General style */
footer {
    background-color: #000000;
    color: #ffffff;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 12px 0;
}

footer nav a, footer p {
    padding: 0 12px;
}

footer nav a:link, footer nav a:visited {
    color: #ffffff;
    text-decoration: none;
}

footer nav a:hover {
    color: #ffff66;
}

footer nav a:active {
    color: #ff6666;
}

/* Mobile responsive design */
@media screen and (max-width: 600px) {
    footer {
        font-size: 16px;
    }

    footer p {
        text-align: left;
    }

    footer nav {
        text-align: right;
    }
}

/* Desktop responsive design */
@media screen and (min-width: 600px) {
    footer {
        font-size: 24px;
    }

    footer p, footer nav {
        text-align: center;
    }
}