/* File for splash style */

/* General style */
#splash {
    min-height: 100%;
}

#splash h1 {
    text-transform: uppercase;
}

#splash i {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

#splash p, #splash h1 {
    position: relative;
    text-align: center;
}

/* Mobile responsive design */
@media screen and (max-width: 600px) {
    #splash p {
        font-size: 30px;
        top: 180px;
    }

    #splash h1 {
        font-size: 54px;
        top: 150px;
    }

    #splash i {
        font-size: 54px;
        bottom: 30px;
    }
}

/* Desktop responsive design */
@media screen and (min-width: 600px) {
    #splash p {
        font-size: 40px;
        top: 240px;
    }

    #splash h1 {
        font-size: 72px;
        top: 200px;
    }

    #splash i {
        font-size: 72px;
        bottom: 40px;
    }
}