/* File for wrapper style */

/* General style */
#wrapper {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper h2 {
    text-transform: uppercase;
}

#wrapper h2, #wrapper h3 {
    text-align: center;
}

#wrapper p {
    margin-top: 16px;
}

#wrapper .section {
    padding-top: 60px;
    padding-bottom: 20px;
}

#wrapper div:nth-child(odd) {
    background-color: #ffffff;
}

#wrapper div:nth-child(even) {
    background-color: #ffffff;
}

.button {
    background-color: #000000;
    border: 1px solid #000000;
    display: block;
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 12px;
    text-align: center;
    width: 300px;
}

a.button:link, a.button:visited {
    color: #ffffff;
    text-decoration: none;
}

#projects, #contact {
    display: none;
}

/* Desktop responsive design */
@media screen and (min-width: 600px) {
    #wrapper {
        width: 600px;
    }

    #wrapper h2 {
        font-size: 48px;
    }

    #wrapper h3 {
        font-size: 28px;
    }

    #wrapper p {
        font-size: 24px;
        line-height: 1.4em;
    }
}